<section class="container-master-plan">
  <section class="container-master-plan__grid">
    <article class="container-master-plan__grid__content">
      <span>1.0</span>
      <div class="container-master-plan__grid__content__pro">
        <h2>Pitch Deck Pro</h2>
        <p>Request access to get more
          info on Augen.</p>
        <a class="container-master-plan__grid__content__pro__link">
          <span class="icon-wrapper" data-v-8e98293e=""><svg width="7" height="9" viewBox="0 0 7 9" fill="none"
              xmlns="http://www.w3.org/2000/svg" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 25px);">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M2.92737 6.71384L2.92737 0.15979L3.76869 0.15979L3.76869 6.57215L5.576 4.76484L6.1709 5.35975L3.57464 7.956L3.27719 8.25346L2.97974 7.956L0.383476 5.35974L0.978378 4.76484L2.92737 6.71384Z"
                fill="currentColor"></path>
            </svg><svg width="7" height="9" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M2.92737 6.71384L2.92737 0.15979L3.76869 0.15979L3.76869 6.57215L5.576 4.76484L6.1709 5.35975L3.57464 7.956L3.27719 8.25346L2.97974 7.956L0.383476 5.35974L0.978378 4.76484L2.92737 6.71384Z"
                fill="currentColor"></path>
            </svg></span>
          <span>Company Documentation</span>
        </a>
      </div>
    </article>
  </section>

</section>
