@use "../../ui/styles/variables.scss" as variables;
@use "../../ui/styles/mixins.scss" as mixin;

.container-progress {
  background: variables.$color-secondary;
  width: 100%;
  height: 200dvh;
  color: variables.$color-background;
  font-family: variables.$fontFamily-secondary;
  padding: 9.0277777778vw 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;

  &__principal {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 5% 90% 5%;
    padding: 0 4.7961630695vw;
    column-gap: 2.3980815348vw;
    row-gap: 3.1944444444vw;
    height: 60dvh;
    width: 80%;

    &__title {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      row-gap: 3.1944444444vw;
      &__text {
        grid-row: 1;
        font-size: 1.2rem;
      }
      &__head {
        color: variables.$color-background;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: 600;
        gap: 16px;
        padding: 20px 0 0 0;
        height: 200px;
        &__subtitle {
          font-size: 25px;
        }
        &__link {
          color: variables.$color-primary;
          font-size: 1.4rem;
          &__icon {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;

            &__icon-wrapper {
              border: 1px solid variables.$color-primary;
              border-radius: 20px;
              height: 1.4rem;
              width: 2.2rem;
              display: flex;
              justify-content: center;
              align-items: center;

              svg:nth-child(1) {
                display: none;
              }
            }
          }
          span:nth-child(2):hover {
            filter: blur(1px);
            -webkit-filter: blur(1px);
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &__content {
      height: 300px;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      max-width: 19.8rem;
      gap: 16px;
      color: variables.$color-background;
      p:nth-child(2),
      p:nth-child(3) {
        opacity: 0.5;
      }
    }
    &__commit {
      grid-column: 4/ 5;
      grid-row: 2 / 3;
      height: 100px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: variables.$color-background;
      opacity: 0.4;
      font-size: 12px;
      max-width: 18rem;
    }
  }
  &__horizontal-line {
    position: absolute;
    top: 48%;
    grid-column: 1 / 7;
    height: 1px;
    background-color: variables.$color-accent;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.5;
    width: 1000px;
    left: mixin.calc-percentage(6, 1);
    margin-top: 4.8611111111vw;
  }

  &__secondary {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 5% 50%;
    font-family: variables.$fontFamily-secondary;
    padding: 4.8611111111vw 4.7961630695vw;
    column-gap: 2.3980815348vw;
    row-gap: 3.1944444444vw;
    height: 80dvh;
    width: 80%;

    &__title {
      display: grid;
      grid-row: 1/3;
      font-size: 12px;

      &__text {
        grid-row: 1;
      }
      &__head {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: 600;
        gap: 16px;
        padding: 20px 0 0 0;
        height: 200px;

        &__subtitle {
          font-size: 25px;
        }
        &__link {
          color: #0071e3;
          display: flex;
          gap: 16px;

          &__icon-wrapper {
            border: 1px solid variables.$color-primary;
            border-radius: 20px;
            height: 1.4rem;
            width: 2.2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg:nth-child(1) {
              display: none;
            }
          }
          span:nth-child(2):hover {
            filter: blur(1px);
            -webkit-filter: blur(1px);
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    }

  &__secondary-content {
    height: 300px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    max-width: 19.8rem;
    gap: 16px;
    color: variables.$color-background;
    p:nth-child(2),
    p:nth-child(3) {
      opacity: 0.5;
    }
  }
  &__secondary-commit {
    grid-column: 4/ 5;
    grid-row: 2 / 3;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: variables.$color-background;
    opacity: 0.4;
    font-size: 12px;
    max-width: 17rem;
  }
}
