<section class="container-progress dark-bg">
  <article class="container-progress__principal">
    <div class="container-progress__principal__title">
      <span class="container-progress__principal__title__text">
        Our Progress
      </span>
      <span class="container-progress__principal__title__head">
        <span class="container-progress__principal__title__head__subtitle">The new Method</span>
            <a class="container-progress__principal__title__head__link__icon ">
          <span class="container-progress__principal__title__head__link__icon__icon-wrapper">
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none"
              xmlns="http://www.w3.org/2000/svg" class="icon">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg></span>
          <span>Go to Updates</span>
        </a>
      </span>

    </div>
    <div class="container-progress__principal__content">
      <p>Where the future is wearable</p>
      <p>We blend innovation and insight
        to transform bold visions into
        reality, redefining the future of
        human enhancement with
        cutting-edge wearable
        technologies such as A¹ Sense, B¹
        Eye, and A¹ Neuro.</p>
      <p>
        These devices are not merely
        products; they are keys to
        unparalleled human
        augmentation. With a mission
        focused on enhancing the human
        experience, our company leads in
        the fields of Invisible Sense,
        Spatial, and Neural Computing,
        aiming for a future where
        technology amplifies human
        potential and makes every
        moment extraordinary.
      </p>
    </div>
    <div class="container-progress__principal__commit">
      <span>*</span>
      <span>
        Committed to advancing Wearable & Neural Technologies for the Intelligence Age.
      </span>
    </div>
  </article>
  <span class="container-progress__horizontal-line"></span>
  <article class="container-progress__secondary">
    <div class="container-progress__secondary__title">
      <span class="container-progress__secondary__title__text">
        Our Aim
      </span>
      <span class="container-progress__secondary__title__head">
        <span class="container-progress__secondary__title__head__subtitle">A Radical Impact for Our Life</span>
        <a class="container-progress__secondary__title__head__link">
          <span class="container-progress__secondary__title__head__link__icon-wrapper">
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none"
              xmlns="http://www.w3.org/2000/svg" class="icon"
              style="translate: none; rotate: none; scale: none; transform: translate(25px, 0px);">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg><svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg>
          </span>
          <span>Go to Programs</span>
        </a>
      </span>
    </div>

    <div class="container-progress__secondary-content">
      <p>The future lies in our hands</p>
      <p>We aim to create advanced
        technological devices that are
        seamlessly integrated with the
        human body, ensuring stability in
        their use.</p>
      <p>
        We always keep the end-users of
        our products in mind, prioritizing
        safety, accessibility, and reliability
        throughout our engineering
        process.
      </p>
    </div>
    <div class="container-progress__secondary-commit">
      <span>*</span>
      <span>
        Envisioning the future with a Pro-Human approach.
      </span>
    </div>
  </article>
</section>
