<section class="container__about-us dark-bg">
  <div class="container__list">
    <div class="list__title">
      <span class="title1">
        <h3>At Eyes</h3>
      </span>
      <span class="title2">
        <h3>We put Humans First</h3>
      </span>
    </div>
    <div class="list__content">
      <ul>
        <li class="head">
          <div class="head__number">
            <span>01</span>
            <span>Our Mission</span>
          </div>
          <div class="head__titles">
            <span>Make humans better—a lot better</span>
            <span class="item-head-line"></span>
          </div>
        </li>
        <li class="head">
          <div class="head__number">
            <span>02</span>
            <span>Our Vision</span>
          </div>
          <div class="head__titles">
            <span>Lead the future of Invisible Computing </span>
            <span class="item-head-line"></span>
          </div>
        </li>
        <li class="head">
          <div class="head__number">
            <span>03</span>
            <span>Our Ambition</span>
          </div>
          <div class="head__titles">
            <span>Simplify Heads-Up Computing </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
