<section class="container-info">
  <section class="container-info__options">
    <article class="container-info__options-career">
      <span>2.0</span>
      <div class="container-info__options-career__content">
        <h2>Putting People First</h2>
        <p>Through the use of wearable
          technology, we aim to enhance
          human capabilities and generate
          a positive impact on the world.</p>
        <a class="container-info__options-career__content__link">
          <span>
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg>
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg>
          </span>
          <span>Career Options</span>
        </a>
      </div>
    </article>

    <article class="container-info__options-news">
      <span>3.0</span>
      <div class="container-info__options-news__content">
        <h2>Stay Updated</h2>
        <p>Stay updated with our latest
          technological innovations and
          advancements in research and
          development.</p>
        <a class="container-info__news__link">
          <span>
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg>
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" class="icon" data-v-8e98293e=""
              style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.18252 2.51959L4.71493 1.05199L5.19807 0.568848L7.30658 2.67736L7.54815 2.91893L7.30658 3.1605L5.19807 5.26902L4.71493 4.78588L6.29795 3.20285H0.972656V2.51959H6.18252Z"
                fill="currentColor"></path>
            </svg>
          </span>

          <span>Latest News</span>
        </a>
      </div>
    </article>
  </section>
</section>
